body {
  font-family: 'Noto Sans TC', sans-serif;
}
h1 { 
  color: #0b0c0c;
}
h1:hover {
  color: #1b27d3;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 { color: crimson;}

